<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col">
           <h1>RESET PASSWORD</h1> 
           <form #passForm="ngForm" (ngSubmit)="passValues(passForm)">
            <div class="form">
                <mat-form-field>
                    <mat-label>Your Password</mat-label>
                    <input matInput type="password" name="password" ngModel required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" name="new_pass" ngModel required>
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary" routerLink="/myAccount" style="margin-right: 1em;">Back</button>
                <button mat-raised-button type="submit" color="warn">Confirm</button>
            </div>
            
            </form>
        </div>
    </div>
</div>


