<div class="container-fluid footer">
    <div class="row">
        <div class="col">
            <h3>CUSTOMER SERVICE</h3>
            <a class="links" routerLink="/shipping">Shipping & Returns</a>
            <br>
            <a class="links" routerLink="/terms">Terms & Conditions</a>
            <br>
            <a class="links" routerLink="/privacy">Privacy Policy</a>
        </div>
        <div class="col">
            <h3>OUR COMPANY</h3>
            <a routerLink="/about" class="links">About Us</a>
            <br>
            <a routerLink="/dealers" class="links">Our Dealership</a>
            <br>
            <a routerLink="/contactUs" class="links">Contact Us</a>
        </div>
        <div class="col">
            <h3>CONTACT US</h3>
            <p>PO.Box No.200639, Doha, State of Qatar</p>
            <p>Phone: +974 74430331/6</p>
            <p>FAX: +974 44479735</p>
            <a href="mailto:info@gmsdoha.com" class="links">Email: info@gmsdoha.com</a>
        </div>
    </div>
    <div class="row">
        <div class="col copy">
            <p class="copyright">&copy; Copyright 2020 Grace Medical Solutions. All Rights Reserved. Design and Development by <span><a href="http://www.inspiredfuture.in/">IAFT</a></span></p>
        </div>
    </div>
</div>
