.footer {
    background-color: #343A40;
    height: 250px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    margin-bottom: 0;
}

.col {
    margin: 20px auto;
}

h3 {
    color: gainsboro;
}

p {
    color: dimgrey;
    line-height: 10px;
}

.links:hover {
    cursor: pointer;
}

.copyright {
    color: white;
}

.copy {
    padding-top: 20px;
}

a:hover {
    text-decoration: none;
}