.container-fluid {
    margin-left: 1em;
    padding-top: 2em;
    padding-bottom: 5em;
    margin-right: 2em;
    /* background-color: #B7DEE8; */
}

h1, h3 {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Kanit', sans-serif; 
    
 }

 .price {
    color: white;
    background-color: rgb(54, 54, 54);
    display: inline-block;
    padding: 10px;
    border-radius: 100px;
}

th, td {
    font-family: 'Kanit', sans-serif; 
    padding: 0.5em 2em;
    text-align: center;
}

.cart {
    margin-left: 2em;
    
}

.address {
    padding-left: 2em;
}

.edAddress {
    margin-left: 2em;
}

h1 {
    text-align: center;
    margin-bottom: 80px;
}

.row{
    text-align: center;
}

table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: rgb(144, 201, 247);
    margin-bottom: 30px;
    padding-top: 0.7em;
}