<div class="container-fluid">
    <h1>CHECKOUT</h1>
    <div class="row">
        <div class="col-md-6" *ngFor="let data of Address">
            <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <h3>Shipping Address</h3>
                  </div>
                  <div class="col-sm">
                    <button mat-raised-button color="warn" routerLink="/changeAddress"  class="edAddress">Edit</button>
                  </div>
                </div>
              </div>
            
            
            <p class="address"><strong>Address:</strong> {{ data.street_address }}</p>
            <p class="address"><strong>City:</strong> {{ data.city }}</p>
            <p class="address"><strong>Pincode:</strong> {{ data.pincode }}</p>
            <p class="address"><strong>State:</strong> {{ data.state }}</p>
            <p class="address"><strong>Country:</strong> {{ data.country }}</p>
            
        </div>
    
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <h3>Order Items</h3>
                  </div>
                  <div class="col-sm">
                    <button mat-raised-button color="warn" routerLink="/cart" class="cart">Edit</button>
                  </div>
                </div>
              </div>
            
            
            <table border="1">
                <thead>
                <tr>
                    <th>Products</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of products">
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.item_price }}.00</td>
                    <td>{{ item._quantity }}</td>
                    <td>{{ item.total_price }}.00</td>
                </tr>
                </tbody>
            </table>
            <br>
            <p class="cart price" *ngFor="let price of price"><strong>Total Price: </strong> {{ price.cost }}.00 Rs.</p>
            <br>
            
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <button mat-raised-button style=" margin-top: 20px; background-color: rgb(6, 172, 6); color: white;" routerLink="/payment">Proceed To Payment</button>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col"  [innerHTML]="render">
​
        </div>
    </div> -->
</div>