<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col">
           <h1>EDIT PERSONAL DETAILS</h1> 
           <form #editForm="ngForm" (ngSubmit)="editValues(editForm)">
            <div class="form">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" name="fname" ngModel required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" name="lname" ngModel required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input matInput type="number" name="phone" ngModel required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Email Address</mat-label>
                    <input matInput type="email" name="email" ngModel required>
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary" routerLink="/myAccount" style="margin-right: 1em;">Back</button>
                <button mat-raised-button type="submit" color="warn">Confirm</button>
            </div>
            
            </form>
        </div>
    </div>
</div>

