<div class="container-fluid">
    <h1>CONTACT GRACE MEDICAL SOLUTIONS</h1>
    <app-contact-form></app-contact-form>
    <ul>
        <li>
            <h3>MIDDLE EAST REGIONAL OFFICE SALES & SERVICE CENTER</h3>
            <img src="assets/images/qatar.png" width="120" height="60" class="mat-elevation-z4">
            <hr>
            <h5>QATAR</h5>
            <p>PO.Box No.200639, Doha, State of Qatar</p>
            <p><mat-icon>call</mat-icon> +974 74430331/6</p>
            <p><mat-icon>local_printshop</mat-icon> +974 44479735</p>
            <p><mat-icon>email</mat-icon> info@gmsdoha.com</p>
        </li>
        <br>
        <li>
            <h3>SALES &  SERVICE  CENTERS</h3>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <img src="assets/images/oman.png" width="100" height="60" class="mat-elevation-z4"> 
                        <hr>
                        <h5>SULTANATE OF OMAN</h5>
                        <p>PO.Box. 158, P.Code No.325, Al Hadah-w. Lisa. South Oman</p>
                        <p><mat-icon>call</mat-icon> +968-79296594</p>
                    </div>
                    <div class="col">
                        <img src="assets/images/kuwait.jpg" width="100" height="60" class="mat-elevation-z4"> 
                        <hr>
                        <h5>KUWAIT</h5>
                        <p>PO BOX 1554 AlAdan  47366 satellite Bldg, Alouthman street, Hawali, Kuwait</p>
                        <p><mat-icon>call</mat-icon> +965-22659265</p>
                        <p><mat-icon>call</mat-icon> +96597868597</p>
                    </div>
                    <div class="col">
                        <img src="assets/images/india.jpg" width="100" height="60" class="mat-elevation-z4"> 
                        <hr>
                        <h5>INDIA</h5>
                        <p>69, First Floor, DD Milestone, Kadavanthra. PO ERNAKULAM, KERALA. India</p>
                        <p><mat-icon>call</mat-icon> +91-484-2206326</p>
                        <p><mat-icon>call</mat-icon> +91-484-2205965</p>
                    </div>
                </div>
            </div>
        </li>
        <br>
        <li>
            <h3>SOURCING & PROCUREMENT OFFICE</h3>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <img src="assets/images/usa.png" width="100" height="60" class="mat-elevation-z4">
                        <hr>
                        <h5>UNITED KINGDOM</h5>
                        <p>96 Read bridge Lane East, Ilford IG45BX, United Kingdom</p>
                        <p><mat-icon>call</mat-icon> +44 78 4674 7477</p>
                    </div>
                    <div class="col">
                        <img src="assets/images/germany.jpg" width="100" height="60" class="mat-elevation-z4">
                        <hr>
                        <h5>GERMANY</h5>
                        <p>Karl-kunger-Str.56, 12345, Berlin, Germany</p>
                        <p><mat-icon>call</mat-icon> +49 17 2215 4944</p>
                    </div>
                    <div class="col">
                        <img src="assets/images/australia.png" width="100" height="60" class="mat-elevation-z4">
                        <hr>
                        <h5>AUSTRALIA</h5>
                        <p>17a, Smith Avenue, Woodville West, South Australia</p>
                        <p><mat-icon>call</mat-icon> +61-450442300</p>
                        <p><mat-icon>call</mat-icon> +61-872258580</p>
                    </div>
                    <div class="col">
                        <img src="assets/images/china.png" width="100" height="60" class="mat-elevation-z4">
                        <hr>
                        <h5>CHINA</h5>
                        <p>No.26 nanhu road danhui street huiyan district, Huizhou, Ghuang zhou, China</p>
                        <p><mat-icon>call</mat-icon> +8615871721964</p>
                    </div>
                    <div class="col">
                        <img src="assets/images/Malaysia.jpg" width="100" height="60" class="mat-elevation-z4">
                        <hr>
                        <h5>MALAYSIA</h5>
                        <p>8-2 Jalan Telawi 2 Bangasar baru, 59100, Kuala Lumpur, Malaysia</p>
                        <p><mat-icon>call</mat-icon> +60-16-3282112</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
