<div class="container">
    <p>Use the form below to contact us:</p>
    <form #enForm="ngForm" (ngSubmit)="enValues(enForm)">
    <div class="form">
        <mat-form-field>
            <mat-label>Full Name</mat-label>
            <input matInput type="text" name="fname" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput type="email" name="email" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput type="tel" name="phone" ngModel>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Enquiry</mat-label>
            <textarea matInput name="enquiry" ngModel required></textarea>
        </mat-form-field>
        <br><br>
        <button mat-raised-button type="submit" color="warn">Submit</button>
        
    </div>
    </form>
</div>
