<div class="container-fluid">
    <h1>ABOUT US</h1>
    <br>
    <img src="assets/images/about.jpg" class="mat-elevation-z6" width="500">
    <hr>
    <p>GRACE MEDICAL SOLUTIONS, W.L.L is a fast growing company based in Qatar with the goal to provide all facilities in Qatar with the latest and most advanced medical product and services. Grace is a stronger believer in teamwork and partnership, and is proud to be associated with world renowned manufacturers and partners who are engaged in our market and work closely with us to develop and support our clients consistently.</p>
    <p>Grace strives continuously, to provide the latest and most advanced medical products and services in association with world renowned supplier and partners who are engaged in our market</p>
    <br>
    <h3>VISION</h3>
    <p>Excellence in Quality is our vision to meet customer expectation by providing value-added assistance which will build social commitment and sustainable  support  to our valued customers.</p>
    <br>
    <h3>MISSION</h3>
    <p>To be recognized in State of Qatar as a Quality Supplier & Service provider in the field of medical solutions with creative ideas and professional project management expertise.</p>
</div>
