<div class="cart">
    <p *ngFor="let price of price" style="float: right;">Total Price: ${{ price.cost }}</p>
    <mat-icon aria-hidden="false" aria-label="Example shopping_cart icon" class="icon" routerLink="/cart">shopping_cart</mat-icon>
</div>
