.cart {
    height: 40px;
    background-color: lavender;
    padding-right: 2em;
}

.icon {
    float: right;
    margin-top: 8px;
}

.icon:hover {
    cursor: pointer;
}

p {
    margin-top: 8px;
    font-family: 'Kanit', sans-serif;
}

