<div class="container-fluid">
<h2>PRODUCTS</h2>
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Dental Orthodontic
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p (click)="myFunction($event)" id="Brackets" routerLink="/allItems">Brackets</p>
      <p (click)="myFunction($event)" id="Accesories" routerLink="/allItems">Accesories</p>
      <p (click)="myFunction($event)" id="Wires" routerLink="/allItems">Wires</p>
      <p (click)="myFunction($event)" id="Orthodontic Instruments" routerLink="/allItems">Orthodontic Instruments</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Dental Equipment
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)="myFunction($event)" id="Dental Chair" routerLink="/allItems">Dental Chair</p>
        <p (click)="myFunction($event)" id="Dental X-ray" routerLink="/allItems">Dental X-ray</p>
        <p (click)="myFunction($event)" id="Handpieces" routerLink="/allItems">Handpieces</p>
        <p (click)="myFunction($event)" id="Accesories" routerLink="/allItems">Accesories</p>
        <p (click)="myFunction($event)" id="Air Compressor Suction" routerLink="/allItems">Air Compressor Suction</p>
        <p (click)="myFunction($event)" id="Sterilization Unit" routerLink="/allItems">Sterilization Unit</p>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Dental Consumables
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)="myFunction($event)" id="Dental Implant" routerLink="/allItems">Dental Implant</p>
        <p (click)="myFunction($event)" id="Implant Instrument" routerLink="/allItems">Implant Instrument</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Medical Consumables
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)="myFun($event)" id="Medical Consumables" routerLink="/allItems">View Items</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Medical Equipment
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)="myFun($event)" id="Medical Equipment" routerLink="/allItems">View Items</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Medical Instruments
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)="myFun($event)" id="Medical Instruments" routerLink="/allItems">View Items</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Dermatology Consumables
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)="myFun($event)" id="Dermatology Consumables" routerLink="/allItems">View Items</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              ENT Instruments
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)="myFun($event)" id="ENT Instruments" routerLink="/allItems">View Items</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Laboratory Devices and Consumables
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)="myFun($event)" id="Laboratory Devices and Consumables" routerLink="/allItems">View Items</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              School lab items and Consumables
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)="myFun($event)" id="School lab items and Consumables" routerLink="/allItems">View Items</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Veterinary Product
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)="myFun($event)" id="Veterinary Product" routerLink="/allItems">View Items</p>
    </mat-expansion-panel>
            
</mat-accordion>
</div>