.container-fluid {
    margin-left: 1em;
    margin-bottom: 3em;
}

.mat-expansion-panel-header {
    background-color: lavender;
    font-family: 'Kanit', sans-serif;
}

h2, p {
    font-family: 'Kanit', sans-serif;
    margin-top: 1em;
}

p:hover {
    cursor: pointer;
}