<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button mat-raised-button routerLink="/">HOME</button>
        </li>
  
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="/about">ABOUT</a> -->
          <button mat-raised-button [matMenuTriggerFor]="menu">ABOUT</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/about" class="button">ABOUT US</button>
            <button mat-menu-item routerLink="/dealers" class="button">OUR DEALERSHIP</button>
          </mat-menu>
        </li>

        <li class="nav-item">
          <button mat-raised-button routerLink="/services">SERVICES</button>
        </li>

        <li class="nav-item">
          <button mat-raised-button routerLink="/contactUs">CONTACT US</button>
        </li>
      </ul>
    </div>
  </nav>