ul {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
}

li {
    margin-left: 2em;
}

.button {
   
    font-family: 'Kanit', sans-serif; 
}