<div class="container-fluid">
    <h1>PAYMENT CONFIRMATION PAGE</h1>
    <br>
    <h3>Your order has been placed & Payment is successful!!</h3>
    <button mat-raised-button color="accent" routerLink="/">Continue Shopping</button>
</div>
