.button:hover {
    cursor: pointer;
}
​
.buttons:hover {
    cursor: pointer;
}

h1 {
    font-family: 'Kanit', sans-serif;
    padding-top: 2em;
}
​
th, td {
    font-family: 'Kanit', sans-serif; 
    padding: 0.5em 2em;
    text-align: center;
}

td, th {
    font-family: 'Kanit', sans-serif; 
    padding: 0.5em 2em;
    text-align: center;
}

.checkout {
    margin-left: 3em;
}

.container {
    text-align: center;
    
}

table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
}

.checkout {
    position: relative;
    top: 50px;
    right: 30px;
}

.button {
    
    margin-right: 5px;
}

.delete {
    background-color: #F44336;
    color: white;
}

.update {
    background-color: #99f762;
}


