<div class="container">
   <h1>
      SHOPPING CART
  </h1>
  
  <table border="1">
      <thead>
         <tr>
            <th>Products</th>
            <th>Price (In Rs.)</th>
            <th>Quantity</th>
            <th>Total (In Rs.)</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let item of products">
            <td>{{ item.item_name }}</td>
            <td>{{ item.item_price }}.00</td>
            <td><input #quantity style="width: 30%; text-align: center;" type="number" value="{{ item._quantity }}" min="1"></td>
            <td>{{ item.total_price }}.00</td>
            <td>
               <button type="button" (click)="deleteCart($event)" id="{{item._id}}" class="button delete" style="float: left;">Delete</button>
               <button type="button" (click)="update(quantity.value, $event)" id="{{item._id}}" class="button update" style="float: right;">Update</button>
            </td>
         </tr>
      </tbody>
  </table>
  <br>
  <button mat-raised-button color="primary" routerLink="/checkout" class="checkout">Checkout</button>
</div>