<div class="container">
    <h1>FEATURED PRODUCTS</h1>
​
   
    
    
​
        <mat-card class="mat-elevation-z4" *ngFor="let product of products"  style="margin-top:10px; ">
            <mat-card-header>
                <mat-card-title>{{product.item_name}}</mat-card-title>
                <mat-card-subtitle>Price: {{product.item_price}} QAR <br> Quantity: {{product.item_quantity}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{product.item_description}}
                </p>
                <img height="150" width="150" src="http://a6aa6510.ngrok.io/{{product.item_image}}" />
            </mat-card-content>
            <mat-card-actions>
                <button type="button" [disabled]="product.disabled" (click)="addCart($event); product.disabled=true" id="{{product.item_id}}" class="button">Add to cart</button>
            </mat-card-actions>
        </mat-card>
    
​
​
</div>

