<app-cart-header></app-cart-header>
<app-header-outer></app-header-outer>
<app-navbar></app-navbar>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-side-nav></app-side-nav>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<app-footer></app-footer>