<div class="container-fluid">
    <h1>OUR DEALERSHIP</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <img src="assets/images/koden.png" width="200" height="200">
        </div>
        <div class="col-md-7">
            <p>Koden inc (formerly known as Cadillac Engineering) is one of the professional marketing companies and exporter of precision dental products in USA. High precision Koden dental products are manufactured in most modern factory by using advanced technology, under stringent quality control</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-5">
            <img src="assets/images/trisco.jpg" width="200" height="200">
        </div>
        <div class="col-md-7">
            <p>TRICHUR SURGICALS is one of the leading companies in India engaged in the supply and installation of medical and laboratory equipments since the last Fifty years. Our area of operation covers almost whole of Kerala. The special Knowledge & Experience obtained during these years of extensive hardships and dedication has induced us to specialize in the manufacturing and merchandising of surgical Instruments & Hospital Equipments</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-5">
            <img src="assets/images/skanray.png" width="200" height="200">
        </div>
        <div class="col-md-7">
            <p>SKANRAY is a leading international healthcare technology company specialized in High Frequency X-Ray Imaging Systems, Critical Care, Dental Care, Primary Healthcare & Telemedicine devices. The company's vision is to aid Primary Healthcare with products of International quality and performance at an affordable level to the rural population of the world. Skanray does that by combining the latest in technology with simplicity of design, innovation and high performance for efficient patient care. Skanray products are designed to comply with international quality & safety standards such as UL, CE, FDA, ISO 13485, ISO 9001 and AERB</p>
        </div>
    </div>
    <hr>
</div>
