.container-fluid {
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 5em;
    margin-right: 2em;
}

h1, h3, h5 {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

p {
   font-family: 'Kanit', sans-serif; 
}

.col-md-7 {
    padding-top: 1em;
}