<div class="container-fluid">
    <h1>TERMS & CONDITIONS</h1>
    <br>
    <div class="row">
        <div class="col-lg-12" *ngFor= "let data of terms">
            <h3>{{ data.header }}</h3>
            <p>{{ data.para }}</p>
            <br>
        </div>
    </div>
</div>
