<div class="container-fluid">
    <h1>OUR SERVICES</h1>
    <br>
    <p>
        We, GRACE MEDICAL SOLUTION are maintaining a good Liaison with all leading manufactures across the globe and maintaining a good stock of the medical field items, as such to maintain the sustainability of the supply of any items needed by the client.
    </p>
    <p>
        To ensure the quality and the credibility of the Products we take The Dealership of the  reputed manufactures only.
    </p>
    <p>
        We GRACE are presently focusing at the following areas:
    </p>
    <br>
    <img src="assets/images/service.png" class="mat-elevation-z5" width="550">
    <hr>
    <h3>PROCUREMENT & STOCKING</h3>
    <p>RACE MEDICAL SOLUTION is unique and having  remarkable network to source out the complete and competitive products across the globe other than our own dealership in procuring excellent and quality products. The products stocked are of international standards and make sure it is being maintained the QSC norms and the product quality.</p>
    <br>
    <h3>MAINTENANCE SERVICES</h3>
    <p>Maintenance & Service engineer’s division provide support to all customer equipment’s and devices in the following cases: The experienced Biomedical, Electronics & Instrumentation and Mechatronic Engineers    are being kept responsible to extend the guaranteed  service  to  our  valuable  customer.  We are committed to give the best available service with our qualified and expert service Engineers respecting your privacy and security with care. We are having fully trained, professionals both men and women staffs, flexible with your  timing. We ensure a consistent and high standard of after sales services of all our Equipments, machinery’s and instruments we supply.</p>
    <ul>
        <li>Receive complaints from customer about product failure or any other related to the product  issues and attend the same.</li>
        <li>Receive customer calls for spare parts request or availability and resolve the same.</li>
        <li>Track an open job number status and service report of all our major clients.</li>
        <li>Request a second level support for an open on going service to prevent the troubles of the Equipments.</li>
        <li>Register an official customer feedback on service job for a better management and bringing further improvement in our service mechanism.</li>
      </ul>
</div>
