.container-fluid {
    margin-left: 1em;
    padding-top: 2em;
    padding-bottom: 5em;
    margin-right: 2em;
    /* background-color: #B7DEE8; */
}

h1, h3 {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

p, li {
   font-family: 'Kanit', sans-serif; 
}

img {
    margin-left: 10em;
}