.container-fluid {
    margin-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 5em;
}

h1, h3 {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Kanit', sans-serif;
}

.form {
    padding-left: 5em;
}

mat-form-field {
    width: 60%;
}