<div class="container-fluid">

    <h1>CREATE AN ACCOUNT</h1>
    <p>Please fill in the details to create an account</p>
    <br>
    <h3>Your Personal Details</h3>
    <hr>
    <form #regForm="ngForm" (ngSubmit)="regValues(regForm)">
    <div class="form">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput type="text" name="fname" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput type="text" name="lname" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput type="email" name="email" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput type="tel" name="phone" ngModel required>
        </mat-form-field>
    </div>
    <br>
    <h3>Your Address</h3>
    <hr>

    <div class="form">
        <mat-form-field>
            <mat-label>Street Address</mat-label>
            <input matInput type="text" name="street" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput type="text" name="city" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Pincode</mat-label>
            <input matInput type="number" name="pincode" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput type="text" name="state" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Country</mat-label>
            <input matInput type="text" name="country" ngModel required>
        </mat-form-field>
    </div>
    <br>
    <h3>Your Password</h3>
    <hr>

    <div class="form">
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br><br>
        <button mat-raised-button type="submit" color="accent">Register</button>
    </div>
    </form>

</div>