<div class="container-fluid header" role="banner">
    <div class="row">
        <div class="col-md-4 logo">
            <img src="../assets/images/logo.jpg" alt="Grace logo" routerLink="/" class="mat-elevation-z10">
        </div>

        <div class="col-md-4 search">
            <form #searchForm="ngForm" (ngSubmit)="searchValues(searchForm)">
                <mat-form-field class="example-form-field">
                    <mat-label>Search Products Here...</mat-label>
                    <input matInput type="text" name="search" ngModel required>
                    <button mat-raised-button color="primary" matSuffix mat-icon-button routerLink="/searchItem" (click)="reload()">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </div>

        <div class="col-md-4 login">
            <div [hidden]="!logIn.loggedIn()">
                <button mat-raised-button color="warn" (click)="logIn.logOut()" style="margin-right: 2em; float: right;">Logout</button>
                <button mat-raised-button color="primary" routerLink="/myAccount" style="float: right; margin-right: 1em;">My Account</button>
            </div>
            <div [hidden]="logIn.loggedIn()">
                <form #loginForm="ngForm" (ngSubmit)="loginValues(loginForm)">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="email" name="email" ngModel required>
                    </mat-form-field>
                    <mat-form-field class="marIn">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-raised-button color="accent" style="margin-left: 5px;">Login</button>
                </form>
                <p>Not registered yet? <span><button mat-button color="primary" routerLink="/signup">Register</button></span> here!</p>
            </div>
            
        </div>
    </div>
</div>
