.header {
    /* background-color: #4393AF; */
    margin-top: 1em;
    margin-bottom: 1em;
}

.search { 
    margin: auto;
}

.search .example-form-field {
    width: 70%;
    /* margin: auto; */
    display: block;
}

.logo img {
    width: 120px;
    height: 120px;
    margin: auto;    
    display: block;
}

img:hover {
    cursor: pointer;
}

.logo {
    position: relative;
    right: 4em;
}

.login {
    margin-top: 1em;
}

.marIn {
    margin-left: 3px;
}

mat-label {
    font-family: 'Kanit', sans-serif;
}

input {
    font-family: 'Kanit', sans-serif;
}

p {
    font-family: 'Kanit', sans-serif;
}