<ngb-carousel class="mat-elevation-z5">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/doc.jpg" alt="Angular Carousel 1">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/doc2.jpg" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Consectetur tortor volutpat pretium.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/doc3.jpg" alt="Angular Carousel 2">
        </div>
        <div class="carousel-caption">
          <h3>Title Goes Here</h3>
          <p>Consectetur tortor volutpat pretium.</p>
        </div>
      </ng-template>
  </ngb-carousel>
