ngb-carousel {
    max-width: 1100px;
    margin: 60px auto;
}

img {
    width: 1100px;
    height: 350px;
    outline: none;
}

ngb-carousel {
    width: inherit;
    height: inherit;
}

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.carousel-control-prev {
     z-index: 20;
     color: darkslategray;
}


.carousel-control-next {
     z-index: 20;
     color: darkslategray;
}

.carousel-indicators{
    z-index: 20;
    color: darkslategray;
}

h3, p {
    color: black;
    font-family: 'Kanit', sans-serif;
    text-shadow: 0 0 4px whitesmoke;
}