<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col">
           <h1>EDIT ADDRESS</h1> 
           <form #adForm="ngForm" (ngSubmit)="adValues(adForm)">
            <div class="form">
                <mat-form-field>
                    <mat-label>Street Address</mat-label>
                    <input matInput type="text" name="street" ngModel required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>City</mat-label>
                    <input matInput type="text" name="city" ngModel required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Pincode</mat-label>
                    <input matInput type="number" name="pincode" ngModel required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>State</mat-label>
                    <input matInput type="text" name="state" ngModel required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Country</mat-label>
                    <input matInput type="text" name="country" ngModel required>
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary" routerLink="/myAccount" style="margin-right: 1em;">Back</button>
                <button mat-raised-button type="submit" color="warn">Confirm</button>
            </div>
            
            </form>
        </div>
    </div>
</div>

