h1 {
    font-family: 'Kanit', sans-serif;
}

mat-card {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    width: 220px;
    display: inline-block;
    text-align: center;
    margin: 50px;
}

mat-card-header {
    display: block;
    background-color: rgb(201, 225, 241);
    position: relative;
    padding-top: 15px;
    padding-bottom: 1px;
    margin-bottom: 5px;
    
}

mat-card-title {
    background-color: white;
    padding: 5px;
}
​
mat-card-subtitle {
    padding: 5px;
}

button {
    border-radius: 30px;
    background-color: rgb(105, 194, 253);
    padding: 5px;
    margin-top: 10px;
}
.container {
    text-align: center;
    margin-top: 3em;
}

