.container-fluid {
    margin-left: 1em;
    padding-top: 2em;
    padding-bottom: 5em;
    margin-right: 2em;
    /* background-color: #B7DEE8; */
}

h1, h3 {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Kanit', sans-serif; 
}

mat-grid-tile-header {
    font-family: 'Kanit', sans-serif;
}

mat-grid-tile:hover {
    background-color: lightblue;
    cursor: pointer;
}

.address {
    padding-left: 7em;
}

.edAddress {
    float: right;
    margin-right: 10em;
    margin-top: 2em;
}

.resetPass {
    margin-top: 2em;
}

.refButton {
    background-color: #3F51B5;
    color: white;
}