<div class="container-fluid">
    <h1>MY ACCOUNT</h1>
    <div class="row justify-content-center" style="margin-top: 3em;">
        <div class="col-md">
            <mat-grid-list cols="3" rowHeight="3:1" gutterSize="30px">
                <mat-grid-tile class="mat-elevation-z4" (click)="getOrders(); getCancelledOrders()">
                    <mat-grid-tile-header><h3>Your Orders</h3></mat-grid-tile-header>
                    <p style="padding-top: 4em;">View Or Manage Your Previous Orders</p>
                </mat-grid-tile>
                <mat-grid-tile class="mat-elevation-z4" (click)="getInfo()">
                    <mat-grid-tile-header><h3>Login & Security</h3></mat-grid-tile-header>
                    <p style="padding-top: 4em;">View Or Edit Your Personal Details</p>
                </mat-grid-tile>
                <mat-grid-tile class="mat-elevation-z4" (click)="getAddress()">
                    <mat-grid-tile-header><h3>Your Address</h3></mat-grid-tile-header>
                    <p style="padding-top: 4em;">View Or Edit Your Address</p>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <br><br>
    <div class="row justify-content-center" *ngIf="div1">
        <div class="col-md" *ngFor="let data of Info" >
            <h3>Your Personal Details</h3>
            <hr>
            <p class="address"><strong>First Name:</strong> {{ data.first_name }}</p>
            <p class="address"><strong>Last Name:</strong> {{ data.last_name }}</p>
            <p class="address"><strong>Phone Number:</strong> {{ data.phone_number }}</p>
            <p class="address"><strong>Email Address:</strong> {{ data.email }}</p>
            <button mat-raised-button color="primary" routerLink="/resetPass" class="resetPass">Reset Password</button>
            <button mat-raised-button color="warn" routerLink="/editLogin"  class="edAddress">Edit</button>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="div2">
        <div class="col-md"  *ngFor="let data of Address">
            <h3>Your Address</h3>
            <hr>
            <p class="address"><strong>Address:</strong> {{ data.street_address }}</p>
            <p class="address"><strong>City:</strong> {{ data.city }}</p>
            <p class="address"><strong>Pincode:</strong> {{ data.pincode }}</p>
            <p class="address"><strong>State:</strong> {{ data.state }}</p>
            <p class="address"><strong>Country:</strong> {{ data.country }}</p>
            <button mat-raised-button color="warn" routerLink="/editAddress" class="edAddress">Edit</button>
        </div>
    </div>
    <div class="row" *ngIf="div3">
        <div class="col-md">
        <mat-tab-group>
            <mat-tab label="Placed Orders" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                <div class="container-fluid">
                <div class="row">
                <div class="col-md-4" *ngFor="let data of Orders" >
                    <h3>Order Details</h3>
                    <hr>
                    <p><strong>Transcation Id</strong> {{ data.transaction_id }}</p>
                    <p><strong>Order Date:</strong> {{ data.order_date }}</p>
                    <p><strong>Item:</strong> {{ data.item_name }}</p>
                    <p><strong>Quantity:</strong> {{ data._quantity }}</p>
                    <p><strong>Price:</strong> {{ data.total_price }}</p>
                    <p><strong>Status:</strong> {{ data._status }}</p>
                    <p><strong>Delivery Status:</strong> {{ data.delivery_status }}</p>
                    <button color="warn" (click)="cancelOrder($event)" id="{{ data._id }}" style="background-color: #F44336; color: white;">Cancel Order</button>
                </div>
                </div>
                </div>
            </mat-tab>
            <mat-tab label="Canceled Order" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                <div class="container-fluid">
                <div class="row">
                <div class="col-md-4" *ngFor="let data of CancelledOrders" >
                    <h3>Order Details</h3>
                    <hr>
                    <p><strong>Transcation Id</strong> {{ data.transaction_id }}</p>
                    <p><strong>Order Date:</strong> {{ data.order_date }}</p>
                    <p><strong>Item:</strong> {{ data.item_name }}</p>
                    <p><strong>Quantity:</strong> {{ data._quantity }}</p>
                    <p><strong>Price:</strong> {{ data.total_price }}</p>
                    <p><strong>Status:</strong> {{ data._status }}</p>
                    <button (click)="refund($event)" id="{{ data._id }}" class="refButton">Refund request</button>
                </div>
                </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>    
        
    </div>

    
</div>
